@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    margin-bottom: 10px;
    color: palevioletred;
    font-size: 1.5rem; /* Menambahkan ukuran font yang lebih besar untuk judul */
}

.product-display {
    margin: 2rem 0;
}

.product-display table {
    width: 100%;
    text-align: center;
    background: pink;
}

.product-display th {
    padding: 1rem;
    font-size: 1rem;
}

.product-display td {
    padding: 0.5rem; /* Menambahkan padding untuk sel-sel data */
}
